.toolbar-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  max-height: 54px;
  background-color: (var(--primary));
  color: (var(--text-light));
  align-items: center;
  justify-content: space-between;
}